.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0px -120px var(--cor-0);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 40px;
}
.introducao img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;

  color: var(--cor-5);
}

.introducao-conteudo span {
  color: var(--cor-p1);
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0px -60px var(--cor-0);
  }
  .introducao {
    padding-top: 40px;
    grid-template-columns: 1fr;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
